<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<meta charset="description" content="Public survey">
	<link rel="stylesheet" type="text/css" href="../static/styles/styles.css"> <!-- href="{  }" -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	<title>Survey</title>
</head>
<body>
	<header class="header">
		<section class="head-container">
			<span class="logo">_Surveys</span>
			<ul class="navigation">
				<li class="nav-item nav-active"><a href="#">FILL SURVEY</a></li>
				<li class="nav-item"><a href="#">VIEW SURVEY RESULTS</a></li>
			</ul>
		</section>
	</header>
	<body class="body-container">
		<form class="survey-form">
			<section class="user-details-section">
				personal details
			</section>
			<section class="options-section">
				options
			</section>
			<section class="rating-section">
				rating
			</section>
			<section class="submit-section">
				submit
			</section>
		</form>
	</body>
</body>
</html>
